.card {
  border: none; 
}

.chat {
  list-style: none; 
  margin: 0;  
  padding: 0; 
}

.chat li {
  margin-bottom: 10px;  
  padding-bottom: 10px; 
  border-bottom: 1px solid #B3A9A9; 
}

.rounded-circle {
  height: 50px; 
}

/* styles for message in message thread */
li.my-message {
  padding: 10px; 
  padding-left: 20px; 
  background-color: #ffe0b2;
  color: #000; 
  border-radius: 14px;
  box-shadow: 0 2px 6px rgba(0, 120, 255, 0.25);
}

li.their-message {
  padding: 10px; 
  background-color: #ffffff;
  border-radius: 14px;
  box-shadow: 0 2px 6px rgba(0, 120, 255, 0.25);
}

